################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/NonogramSolver/NonogramSolver/obj/Debug
